{% if request.page_type == 'product' %}
  {% comment %} unless ak_overwrite_product_ids contains product.id {% endcomment %}
  {%- capture ak_meta_title -%}{{ product.title }}{%- endcapture -%}
  {%- capture ak_meta_description -%}Big promotion for you when buying {{ product.title }} today. One of the best selling {{ product.type }} in the market. Limited number of products. Hurry up!{%- endcapture -%}
  {% comment %} endunless {% endcomment %}
{% endif %}
{% if request.page_type == 'collection' %}
  {% comment %} unless ak_overwrite_collection_ids contains collection.id {% endcomment %}
  {%- capture ak_meta_title -%}{{ collection.title }}{%- endcapture -%}
  {%- capture ak_meta_description -%}Are you ready to welcome the latest {{ collection.title }} at {{ shop.name }}? {{ collection.title }} promises to bring you an extremely wonderful experience. Check it out now!{%- endcapture -%}
  {% comment %} endunless {% endcomment %}
{% endif %}
{% if request.page_type == 'article' %}
  {% comment %} unless ak_overwrite_article_ids contains article.id {% endcomment %}
  {%- capture ak_meta_title -%}{{ article.title }}{%- endcapture -%}
  {%- capture ak_meta_description -%}Update with the latest fashion trends with interesting information in {{ article.title }} at {{ shop.name }} right now! What are you waiting for?{%- endcapture -%}
  {% comment %} endunless {% endcomment %}
{% endif %}
{% if ak_meta_title %}
  {%- unless ak_meta_title contains 'Liquid error' -%}
    {%- assign title = ak_meta_title | strip_html | strip -%}
    {%- assign page_title = title -%}
    {%- assign og_title = title -%}
    <title>{{ og_title }}</title>
    <meta property="og:title" content="{{ og_title }}">
    <meta name="twitter:title" content="{{ og_title }}">
  {%- endunless -%}
{% endif %}
{% if ak_meta_description %}
  {%- unless ak_meta_description contains 'Liquid error' -%}
    {%- assign page_description = ak_meta_description | strip_html | strip -%}
    {%- assign og_description = page_description -%}
    <meta property="og:description" content="{{ og_description }}">
    <meta name="twitter:description" content="{{ og_description | truncate: 140 }}">
    <meta name="description" content="{{ og_description }}">
  {%- endunless -%}
{% endif %}
